@media screen and (max-width: 959px) {
  /* 959px以下に適用されるCSS（タブレット用） */
}
@media screen and (max-width: 480px) {
  /* 480px以下に適用されるCSS（スマホ用） */
  header {
    width: 100%;
    height: 40px;
    display: flex;
    /*background-color: #ccc;*/
    opacity: 0.8;
    padding-right: 10px;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 2;
  }

  header .company_name {
    font-size: 24px;
    margin-top: 24px;
  }

  .slick-prev, .slick-arrow, .slick-next, .slick-arrow {
    display: none !important;
  }

  .open_hamburger, #user_menu {
    display: block;
  }

  .header_list {
    display: none;
  }

  .header_list li {
    display: none;
  }

  .open_hamburger {
    position: absolute;
    top: 20px;
    right: 22px;
    font-size: 26px;
    cursor: pointer;
  }

  #user_menu {
    background: rgb(128, 128, 128);
    color: #fff;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    z-index: 99;
    width: 70%;
    text-align: center;
    visibility: hidden;
    align-items: center;
    font-size: 14px;
    opacity: 0;
    transition: opacity .6s ease, visibility .6s ease;
  }

  #user_menu .close_hamburger {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 35px;
    cursor: pointer;
  }

  .open #user_menu {
    visibility: visible;
    opacity: 1;
  }

  .user_menu_ul {
    margin-top: 70px;
    width: 100%;
  }

  .user_menu_ul li {
    font-size: 16px;
    width: 100%;
    height: 44px;
  }


  .corporate_philosophy {
    font-size: 30px;
    position: absolute;
    background-color: white;
    opacity: 0.8;
    top: 220px;
    left: 20px;
    border: none;
    line-height: 70px;
    /*text-decoration: underline;*/
    /*text-shadow: 3px 3px 3px #3399FF;*/
    /*text-shadow: 3px 3px 3px black;*/
    text-shadow: none;
    padding-left: 14px;
  }

  .wrapper_theme h3 {
    font-size: 28px;
    padding-top: 66px;
    padding-bottom: 4px;
    border-bottom: 3px solid #00CCFF;
    display: inline-block;
  }
  .second_wrapper .wrapper_theme h3 {
    border: none;
    width: 80%;
    line-height: 40px;
    margin: 38px auto 0;
    padding-top: 20px;
  }

  .second_wrapper_container {
    display: block;
  }

  .second_wrapper_container_picture {
    width: 90%;
    box-shadow: 28px 28px 0px 0 #66CCFF;
    margin-top: 0px;
    /*height: 200px;*/
  }

  .second_wrapper_container p {
    margin: 70px 0 0 0;
    font-size: 22px;
  }

  .third_wrapper_pictures {
    display: block;
  }

  .third_wrapper_pictures_image {
    width: 100%;
    margin-bottom: 20px;
  }

  .company_information {
    width: 100%;
    margin: 30px auto 0;
  }

  .company_information table {
    width: 90%;
  }

  .company_information table tr {
    display: block;
    height: inherit;
    border-top: 1px solid #ccc;
  }

  .company_information table tr th {
    text-align: left;
    padding-top: 8px;
  }

  .company_information table iframe {
    width: 100%;
  }

  .company_information table tr td {
    /*text-align: center;*/
    padding: 4px 0 10px 10px;
  }


  .company_information table tr td, .company_information table tr th {
    border: none;
    display: inline-block;
    width: 100%;
  }


/*
  .company_information ul {
    width: 90%;
  }*/
/*
  .company_information ul li {
    border-top: 1px solid #ccc;
  }*/




}
