@media screen and (max-width: 480px) {
  /* 480px以下に適用されるCSS（スマホ用） */
  header {
    width: 100%;
    height: 40px;
    display: flex;
    /*background-color: #ccc;*/
    opacity: 0.9;
    padding-right: 10px;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 2;
  }

  header .company_name {
    font-size: 24px;
    margin-top: 24px;
  }

  .slick_ul>.slick-prev, .slick_ul>.slick-arrow, .slick_ul>.slick-next, .slick_ul>.slick-arrow {
    display: none !important;
  }

  .open_hamburger, #user_menu {
    display: block;
  }

  .header_list {
    display: none;
  }

  .header_list li {
    display: none;
  }

  .open_hamburger {
    position: absolute;
    top: 20px;
    right: 22px;
    font-size: 26px;
    cursor: pointer;
  }

  #user_menu {
    background: rgb(128, 128, 128);
    background-color: rgba(255, 255, 255, 1);
    color: black;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    z-index: 99;
    width:  100%;
    text-align: center;
    visibility: hidden;
    align-items: center;
    font-size: 14px;
    opacity: 0;
    transition: opacity .6s ease, visibility .6s ease;
  }

  #user_menu .close_hamburger {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 35px;
    cursor: pointer;
  }

  .open #user_menu {
    visibility: visible;
    background-color: rgba(255, 255, 255, 1);
    opacity: 1;
  }

  .user_menu_ul {
    margin-top: 70px;
    width: 100%;
  }

  .user_menu_ul li {
    font-size: 16px;
    width: 100%;
    height: 54px;
    line-height: 54px;
  }

  .user_menu_ul a {
    color: black;
    text-decoration: none;
  }


  .corporate_philosophy {
    font-size: 30px;
    position: absolute;
    background-color: white;
    opacity: 0.8;
    top: 220px;
    left: 20px;
    border: none;
    line-height: 70px;
    /*text-decoration: underline;*/
    /*text-shadow: 3px 3px 3px #3399FF;*/
    /*text-shadow: 3px 3px 3px black;*/
    text-shadow: none;
    padding-left: 14px;
  }

  .wrapper_theme h3 {
    font-size: 28px;
    padding-top: 66px;
    padding-bottom: 4px;
    border-bottom: 3px solid #00CCFF;
    display: inline-block;
  }
  .second_wrapper .wrapper_theme h3 {
    border: none;
    width: 80%;
    line-height: 40px;
    margin: 38px auto 0;
    padding-top: 20px;
  }

  .second_wrapper .wrapper_theme h3:before, .second_wrapper .wrapper_theme h3:after {
    border-top: none;
    content: none;
    width: 0; /* 線の長さ */
  }
  .second_wrapper .wrapper_theme h3:before {
    margin-right: 0; /* 文字の右隣 */
  }
  .second_wrapper .wrapper_theme h3:after {
    margin-left: 0; /* 文字の左隣 */
  }

  .second_wrapper_container {
    display: block;
  }

  .second_wrapper_container_picture {
    width: 90%;
    box-shadow: 28px 28px 0px 0 #66CCFF;
    margin-top: 0px;
    /*height: 200px;*/
  }

  .second_wrapper_container p {
    margin: 70px 0 0 0;
    font-size: 22px;
  }

  .third_wrapper {
    padding-bottom: 40px;
  }
  .third_wrapper_video {
    position: relative;
    width: 100%;
    margin: 40px auto;
    text-align: center;
  }

  .third_wrapper_video:before {
    content:"";
    display: block;
    padding-top: 56.25%;
  }

  .third_wrapper_video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .third_wrapper_container {
    display: block;
  }

  .css-br::after {
    content: none;
    white-space: normal;
  }

  .third_wrapper_container p {
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 48px;
    margin-top: 30px;
  }

  .link_to_results {
    margin-top: 30px;
  }

  .slick_business_pictures {
    width: 100%;
    /*height: 320px;*/
  }


  .third_wrapper_pictures {
    display: block;
  }

  .third_wrapper_pictures_image {
    width: 100%;
    margin-bottom: 20px;
  }

  .fourth_wrapper {
    padding-bottom: 150px;
  }

  .fourth_wrapper_container p {
    background-color: white;
    opacity: 0.9;
    padding: 30px 36px;
    display: inline-block;
    position: inherit;
    top: 0;
    left: 0;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 48px;
  }

  .employee_image {
    width: 100%;
    margin-top: 30px;
    border: none;
    box-shadow: none;
  }

  .link_to_licences {
    position: absolute;
    top: 580px;
    left: 10px;
  }

  .company_information {
    width: 100%;
    margin: 30px auto 0;
  }

  .company_information table {
    width: 90%;
  }

  .company_information table tr {
    display: block;
    height: inherit;
    border-top: 1px solid #ccc;
  }

  .company_information table tr th {
    text-align: left;
    padding-top: 8px;
  }

  .company_information table iframe {
    width: 100%;
  }

  .company_information table tr td {
    /*text-align: center;*/
    padding: 4px 0 10px 10px;
  }


  .company_information table tr td, .company_information table tr th {
    border: none;
    display: inline-block;
    width: 100%;
  }

  .sub_page_main {
    width: 88%;
  }

  .sub_page_slick_business_pictures {
    margin: 0 auto;
    width: 100%;
    height: 280px;
  }

  .image_caption p {
    font-size: 24px;
  }

  .sub_page_slick_business_pictures li .caption {
    font-size: 150%;
    line-height: 300px;
    text-align: center;
    color: #fff;
  }

  .sub_page_slick_business_pictures .arrow {
    display: none !important;
  }

  .results_lists {
    width: 100%;
    margin: 60px auto 100px;
    /*display: none;*/
  }

  .results_lists .result_lists_phone {
    display: block;
  }

  .results_lists table {
    display: none;
  }

  .result_lists_phone ul li {
    margin-bottom: 4px;
    font-size: 16px;
  }

  .result_lists_phone_new, .result_lists_phone_fixed {
    font-size: 22px;
    padding-bottom: 4px;
    margin-bottom: 12px;
    border-bottom: 2px solid #66CCFF;
  }

  .result_lists_phone_fixed {
    margin-top: 26px;
  }



  .link_to_top {
    width: 100vw;
    height: 60px;
    border-radius: 0;
    background-color: #66CCFF;
    position: fixed;
    bottom: 0;
    right: 0;
    line-height: 60px;
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
    font-family: sans-serif;
    opacity: 0.95;
  }

  .link_to_top .fa-angle-left {
    margin-right: 12px;
  }

  .sp_bottom {
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 60px;
  }

  .contact_link_sp {
    width: 50%;
    line-height: 60px;
    text-align: center;
    background: #eee;
    color: black;
    text-decoration: none;
  }

  .advertising_link_pc {
    display: none;
  }

  .advertising_link_sp {
    position: fixed;
    bottom: 0;
    right: 0;
    /*width: 220px;*/
    height: 60px;
    display: flex;
    width: 100%;
    /*border-radius: 10px;*/
    text-decoration: none;
    color: black;
  }

  .advertising_link_sp p {
    line-height: 60px;
    padding: 0 12px;
    background: linear-gradient(to right, #00CCFF, #99FFFF);
    transition: background-color 1s;
    width: 100%;
    text-align: center;
  }

  .advertising_link_sp p img {
    width: 100px;
  }

  .advertising_link_arrow {
    background-color: #ccc;
    width: 60px;
    line-height: 60px;
    text-align: center;
  }

  .advertising_link_sp_index_page {
    width: 50%;
    /*width: 220px;*/
    display: flex;
    /*border-radius: 10px;*/
    text-decoration: none;
    color: black;
  }

  .advertising_link_sp_index_page p {
    line-height: 60px;
    padding: 0 12px;
    background: linear-gradient(to right, #00CCFF, #99FFFF);
    /*background: #99FFFF;*/
    transition: background-color 1s;
    width: 100%;
    text-align: center;
  }

  .advertising_link p:hover {
    /*opacity: 0.7;*/
    /*transition: 1s;*/
    /*background: linear-gradient(to right, blue, white);;*/
  }

  .advertising_link_sp_index_page p img {
    width: 100px;
  }

  .advertising_link_arrow {
    background-color: #ccc;
    width: 60px;
    line-height: 60px;
    text-align: center;
  }

  .midosuji {
    border-bottom: 1.5px solid #D90200;
  }

  .tanimachi {
    border-bottom: 2px solid #660165;
  }


/*
  .company_information ul {
    width: 90%;
  }*/
/*
  .company_information ul li {
    border-top: 1px solid #ccc;
  }*/

  .sub_page_wrapper {
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .licence_page_wrapper {
    background-image: url(../images/employee2_white_bokashi.jpg);
  }


  .sub_page_wrapper h3 {
    font-size: 45px;
  }

  .sub_page_wrapper h1 {
    font-size: 20px;
    margin-top: 12px;
  }

  .sub_page_message h4 {
    font-size: 20px;
    text-align: center;
    line-height: 36px;
    letter-spacing: 1px;
    width: 88%;
    margin: 40px auto 0;
  }

  .advertising_pictures {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 0 20px;
    text-align: center;
    display: block;
  }

  .csr_name_tag {
    font-size: 20px;
    margin-top: 50px;
    text-align: center;
  }

  .bridge_ad {
    width: 88%;
    margin: auto;
    margin-bottom: 60px;
  }

  body > div.advertising_pictures > div:nth-child(1) > p {
    margin-left: 0;
  }

  .advertising_pictures .advertising2, .advertising_pictures .advertising2_same_width {
    border:1px #eee solid;
    width: 100%;
    /*width: 40%;*/
    height: inherit;
    margin: 0 0 30px 0;
    /*box-shadow: 28px 28px 0px 0 #66CCFF;*/
  }

  .advertising_pictures .advertising1, .advertising_pictures .advertising1_same_width {
    border:1px #eee solid;
    width: 100%;
    height: inherit;
    margin: 0 0 30px 0;
    /*box-shadow: 28px 28px 0px 0 #66CCFF;*/
  }

  .ad_one_picture {
    width: 100%;
    margin: 20px auto;
  }

  .ad_one_picture_image {
    width: 100%;
    border: 1px #eee solid;
  }

  .licence_page_elements {
    width: 90%;
    display: block;
    margin: 40px auto 130px;
    justify-content: space-around;
  }

  .licence_page_elements img {
    width: 140px;
    border-radius: 50%;
    background-color: black;
    border: 5px solid #66CCFF;
  }

  .licence_page_element {
    width: 100%;
    text-align: center;
  }

  .licence_page_element p {
    margin: 30px auto 50px;
    line-height: 28px;
    color: gray;
    letter-spacing: 3px;
    width: 80%;
    font-size: 18px;
  }

  .recruit_information table {
    width: 90%;
  }

  .recruit_information table tr {
    display: block;
    height: inherit;
    border-top: 1px solid #ccc;
  }

  .recruit_information table tr:last-child {
    border-bottom: 1px solid #ccc;
  }

  .recruit_information table tr th {
    text-align: left;
    padding-top: 8px;
  }

  .recruit_information table iframe {
    width: 100%;
  }

  .recruit_information table tr td {
    /*text-align: center;*/
    padding: 4px 0 10px 10px;
    font-size: 14px;
  }


  .recruit_information table tr td, .recruit_information table tr th {
    border: none;
    display: inline-block;
    width: 100%;
  }

  .apply_mail_pc {
    display: none;
  }

  .apply_phone {
    display: flex;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
  }

  .apply_phone a {
    color: black;
    text-decoration: none;
  }

  .apply_mail_phone {
    display: inline-block;
    width: 50%;
    line-height: 60px;
    text-align: center;
    background-color: #FF82B2;
  }

  .apply_call_phone {
    display: inline-block;
    width: 50%;
    line-height: 60px;
    text-align: center;
    background-color: #77EEFF;
  }

  .sixth_wrapper {
    /*height: 100vh;*/
    width: 100%;
    background-color: white;
    opacity: 1;
    padding-bottom: 80px;
    padding-top: 20px;
  }

  .contact_form {
    width: 90%;
    margin: 24px auto 0;
  }

  input[type="submit"] {
    display: block;
    width: 60%;
    height: 60px;
    background-color: black;
    color: white;
    text-align: center;
    border: none;
    cursor: pointer;
    margin: 0 auto;
  }

  input[type="submit"]:disabled {
    opacity: 0.1;
    cursor: inherit;
  }


  footer {
    height: 180px;
    background-color: #333;
    background-color: #f7f7f7;
    border-top: 1px solid #f0f1f1;
    padding-top: 40px;
  }

  .footer_wrapper {
    width: 88%;
    margin: 0 auto;
    display: block;
    flex-direction: row-reverse;
    justify-content: space-around;
    text-align: center;
  }

  .footer_wrapper h1 {
    font-size: 25px;
    margin-bottom: 20px;
  }

  .footer_wrapper_left_address {
    margin-bottom: 14px;
    color: gray;
    font-size: 15px;
  }

  .footer_wrapper_left_phone {
    font-size: 20px;
  }

  .footer_wrapper_left_phone a {
    color: black;
  }

  .copy_right_part_pc {
    display: none;
  }

  .copy_right_part_phone {
    display: block;
    font-size: 14px;
    text-align: center;
    padding: 20px 0;
    background-color: #f7f7f7;
    padding-bottom: 90px;
  }

  .footer_wrapper_right {
    display: none;
  }

  .footer_wrapper_right a {
    color: black;
    text-decoration: none;
    margin-right: 18px;
    display: block;
    margin-bottom: 16px;
  }

  .footer_wrapper_right a:hover {
    opacity: 0.3;
  }

}
